{# Slackbot template for scrimmage and practice updates #}

## :flamingo: :zebra_face: Scrimmage Sign-Ups for {{ placeholder.date }}, as of {{ placeholder.time }} on {{ placeholder.date }} :zebra_face: :flamingo:

{% for shift in shifts %}
**{{ placeholder.shift_name }} {{ placeholder.start_time }}-{{ placeholder.end_time }}**
{{ placeholder.count }} x NSOs
{{ placeholder.count }}x SOs
{% endfor %}

Please use these links to sign up if you plan to attend scrimmages and haven’t done so already.  Thanks!
[Juniors Scrimmages - Non-Skating Officials](https://rosecityrollers.galaxydigital.com/need/detail/?need_id=628862 "Adult Scrimmages - Non-Skating Officials")
[Juniors Scrimmages - Skating Officials](https://rosecityrollers.galaxydigital.com/need/detail/?need_id=607810 "Juniors Scrimmages - Skating Officials")
[Adult Scrimmages - Non-Skating Officials](https://rosecityrollers.galaxydigital.com/need/detail/?need_id=628861 "Adult Scrimmages - Non-Skating Officials")
[Adult Scrimmages - Skating Officials](https://rosecityrollers.galaxydigital.com/need/detail/?need_id=607934 "Adult Scrimmages - Skating Officials")