# .env file support
python_dotenv

# Data formats
pyyaml

# HTTP requests
requests

# JSON Schema validation
jsonschema

# Python formatting
autopep8
flake8
pylint

# Python interpreter
ipython

# Pandas data structures
pandas

# Python testing
pytest
pytest-cov

# Static code analysis
bandit

# YAML formatting
yamllint
