# Data formats
pyyaml

# .env file support
python_dotenv

# Python formatting
autopep8
flake8
pylint

# Python interpreter
ipython

# Static code analysis
bandit

# Pandas data structures
pandas

# Python testing
pytest
pytest-cov

# HTTP requests
requests

# YAML formatting
yamllint
